.footer {
  background-color: var(--lightest);
  width: 100%;
}

.footerTop {
  border-bottom: 1px solid var(--light);
}

.footerTopWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  padding: 24px 16px 0px 16px;
}

.footerLinks {
  display: grid;
  grid-template-columns: repeat(2, minmax(80px, 180px));
  justify-content: flex-start;
  width: 100%;
  column-gap: var(--size-xl);
  padding-top: 8px;
}

.footerLinkTitle {
  font-size: 16px;
  color: var(--darkest);
  font-weight: 600;
  margin-bottom: 16px;
}

.footerLink {
  font-size: 18px;
  margin-bottom: 16px;
}

.footerLinks a {
  color: var(--medium);
  text-decoration: none;
}

.footerLinks a:hover {
  color: var(--darkest);
  text-decoration: underline;
}

.footerBotWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: var(--size-sm);
  padding: var(--size-md) var(--size-sm);
}

.footerBottom span {
  font-size: 14px;
}

.footerSocial {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footerSocial a {
  padding: var(--size-xs);
}

@media (min-width: 768px) {

  .footerTopWrapper,
  .footerBotWrapper {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr;
    row-gap: 0;
    column-gap: var(--size-xl);
    max-width: var(--max-width);
    margin: 0 auto;
  }

  .footerLogo {
    grid-column: 1 / 5;
  }

  .footerLinks {
    grid-column: 6 / 13;
    justify-content: flex-end;
    padding: 0px 0px 8px 0px;
  }

  .footerBotWrapper span {
    grid-column: 1 / 6;
  }

  .footerSocial {
    grid-column: 6 / 13;
    justify-content: flex-end;
  }
}