:root {
  --primary: #ff9911;
  --white: #ffffff;
  --lightest: #f8f8f8;
  --light: #efebe7;
  --medium: #808080;
  --dark: #161B22;
  --darkest: #0E1117;
  --max-width: 1280px;
  --border-radius: 8px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  background-color: var(--white);
  color: var(--darkest);
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: var(--darkest);
  font-weight: bold;
}

a:hover {
  text-decoration: none;
}

h1 {
  font-size: 44px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 22px;

}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--darkest);
  letter-spacing: -1px;
  font-weight: bold;
  line-height: 1.2;
}

a,
div,
p,
code,
ul,
li,
ol,
span {
  font-size: 18px;
  font-weight: normal;
  line-height: 1.6;
}

.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: var(--max-width);
  margin: 0 auto;
}