/* ~~ HERO SECTION ~~ */
.heroSection,
.heroBackground {
  background-image: url("/assets/hero.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.heroContent {
  min-width: 100%;
  padding: 160px 16px 80px 16px;
}

.heroContent p {
  text-shadow: 1px 1px 2px var(--white);
}

.heroContent div:first-child {
  color: var(--medium);
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: var(--size-xs);
  text-transform: uppercase;
}

.heroContent div:last-child {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--size-md);
}

/* ~~ ABOUT SECTION ~~ */
.aboutSection {
  background-color: var(--lightest);
  padding: 40px 16px;
}

.aboutContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--size-md);
}

.aboutImage {
  display: none;
}

/* ~~ POSTS SECTION ~~ */
.postsSection {
  width: 100%;
  padding: 40px 16px;
}

.postsHead {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  margin-bottom: var(--size-md);
}

.postsBody {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(auto-fit, 1fr);
  justify-content: space-between;
  gap: var(--size-xl);
  width: 100%;
}

/* ~~ VIDEO SECTION ~~ */
.videoSection {
  background-color: var(--dark);
  padding: 40px 16px;
}

.videoSection h2 {
  color: var(--white);
}

.videoSection h2 span {
  color: var(--primary);
  font-size: 28px;
  font-weight: bold;
}

.videoSection p {
  color: var(--medium);
}

.videoWrapper {
  border: 4px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(92.05deg, var(--white) 12.09%, var(--primary) 84.96%);
  padding: var(--size-lg);
}

.videoContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--size-md);
}

.videoImage {
  display: none;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {}

@media (prefers-reduced-motion) {}

/* Mobile */
@media (min-width: 468px) {
  .postsHead {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
  }
}

@media (min-width: 768px) {}

/* Tablet and Smaller Desktop */
@media (min-width: 768px) and (max-width: 968px) {}

/* Desktop */
@media (min-width: 968px) {

  /* ~~ HERO SECTION ~~ */
  .heroContent {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    row-gap: 0;
    column-gap: var(--size-xl);
    padding: 240px 16px 160px 16px;
  }

  .heroContent div {
    grid-column: 1 / 7;
  }

  /* ~~ ABOUT SECTION ~~ */
  .aboutSection {
    padding: 80px 16px;
  }

  .aboutWrapper {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr;
    row-gap: 0;
    column-gap: var(--size-xl);
    align-items: flex-start;
  }

  .aboutContent {
    grid-column: 1 / 9;
  }

  .aboutImage {
    display: flex;
    grid-column: 9 / 13;
  }

  /* ~~ POST SECTION ~~ */
  .postsSection {
    padding: 80px 16px;
  }

  .postsBody {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr;
    grid-gap: var(--size-xl);
    width: 100%;
  }

  /* ~~ VIDEO SECTION ~~ */
  .videoWrapper {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr;
    row-gap: 0;
    column-gap: var(--size-xl);
    align-items: flex-start;
  }

  .videoContent {
    grid-column: 1 / 8;
  }

  .videoImage {
    display: flex;
    grid-column: 8 / 13;
    justify-content: flex-end;
  }

  .videoImage iframe {
    width: 360px;
    height: 200px;
  }
}