.tabBtn,
.tagBtnActive {
  background-color: var(--lightest);
  border-radius: 20px;
  cursor: pointer;
  font-weight: 400;
  font-size: 12px;
  padding: var(--size-xs) var(--size-sm);
  text-decoration: none;
  text-transform: uppercase;
}

.tabBtn {
  border: 1px solid var(--lightest);
  color: var(--medium);
}

.tagBtnActive {
  border: 1px solid var(--dark);
  color: var(--darkest);
}

.tabBtn:hover,
.tagBtnActive:hover {
  background-color: var(--light);
}